%p#notice= notice
%p
   %b Name:
   = @problem.name
%p
   %b Statement:
   = @problem.statement
%p
   %b Solution:
   = @problem.solution
%p
   %b Answer:
   = @problem.answer
/ = link_to 'Edit', edit_problem_path(@problem)
/ |
/ \#{link_to 'Back', problems_path}
